* {
  margin: 0;
  box-sizing: border-box;

}

.bodyGeneral {
  background-color: #9d4cfd;
  font-family: 'Poppins', sans-serif;
  text-decoration-color: #2f2546;
  padding: 60px 10px 0px;
  /* Medida movil */
  /* padding: 90px 20px 0px; /* Medida pantalla */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100%;

}

header {
  height: 66px;
  /* Medida Movil */
  /* height: 80px; /* Medida Patalla */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #dbdbdb ;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Medida Movil */
  /* justify-content: space-evenly; /* Medida Patalla */
  max-width: 992px;
  margin: 0 auto;
  position: fixed;

}

.navMenu {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  background-color: #2f2546;
  position: fixed;
  top: 66px;
  width: 100%;
  padding: 20px 0;
  height: calc(100% - 60px);
  overflow-y: auto;
  right: 100%;
  transition: right 0.3s;

  /* margin-right: 20px; /*para pantalla completa */

}

.navmenuItem {
  font-size: 18px;
  margin: 0 10px;
  line-height: 70px;
  /*Medida Movil */
  /* line-height: 80px; /* Medida Pantalla */
  text-transform: uppercase;
  width: max-content;

}

.navmenuLink {
  padding: 8px 12px;
  border-radius: 35px;

}

.navmenuLink:hover {
  transition: 1s;
  background: #54ac84;
  background-image: linear-gradient(to left, #54ac84);

}

.navLink {
  color: white;
  text-decoration: none;

}

.navLogo:hover {
  transform: scale(150%);
  transition: all;
  transition-duration: 2s;

}

.navLogo {
  padding-top: 2px;
  padding-left: 2px;
  
  /* Medida Movil */
  /* padding-top: 7px; /* Medida Pantalla */

}

.navButton {
  color: #2f2546;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;

  display: block;
  /*Boton visible pantalla celu */
  /* display: none; /* Boton invisible para patalla completa*/

}

.nav_Visible {
  right: 0;
}

.navRegistro{
  text-decoration: dashed;
  color: #2f2546;
  background: none;
  border: none;
  font-size: 13px;
  padding: 0 20px;
  line-height: 60px;
}

.navSeccion{
  text-decoration: none;
  color: #2f2546;
  background: none;
  border: none;
  font-size: 13px;
  padding: 0 20px;
  line-height: 60px;
}

/* visibiliza el boton */

.nombreEmpresa {
  padding-top: 0px;
  font-size: 45px;

}

.subTitulo {
  font-size: 15px;
  padding-bottom: 30px;
  margin-left: 100px;

}

.aa{
  margin-bottom: 20px;
  color: white;
}

.fraseInicio {
  padding-bottom: 15px;

}

.parrafoPrincipal {
  padding: 20px;
  border: 10px solid white;
  border-radius: 40px;
  background-color: white;
  /* width: 550px; /*Vista pantalla */

}

.registroButton {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  background-color: #54ac84;
  border-radius: 15px;
  border-style: solid;
  border-color: #54ac84;
  padding: 10px;
  color: white;

}

.parrafoSecundario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 10px solid white;
  border-radius: 40px;
  background-color: white;
  font-size: 18px;

}

.parrafoPublicidad {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 10px solid #54ac84;
  border-radius: 40px;
  background-color: #54ac84;
  color: white;
  font-size: 14px;

}

.cuentaHijo1 {
  grid-row: 3;
}

.cuentaHijo2 {
  grid-row: 1;
}

.cuentaHijo3 {
  grid-row: 0;
}

.cuentaHijo4 {
  grid-row: 0;
}

.vistaMovil {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  flex-grow: 1
}

.parrafoInvertir {
  color: white;

}

.parrafoInvertirsecundario {
  color: white;
  font-size: 14px;

}

.invertirRetirar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 10px solid white;
  border-radius: 40px;
  background-color: white;
  font-size: 18px;

}

.tituloInvertirretirar {
  padding: 20px;

}

.secionesTitulo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 10px solid #54ac84;
  border-radius: 40px;
  background-color: #54ac84;
  color: white;

}

.tituloRegistro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 10px solid #54ac84;
  border-radius: 35px;
  background-color: #54ac84;
  color: white;
  
}
.seccionRegistro{
  display: block;
  background-color: white;
  padding: 20px;
  border: solid #54ac84;
  border-radius: 10px;
}


.descripServicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 10px solid white;
  border-radius: 40px;
  background-color: white;

}

.Costo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 10px solid white;
  border-radius: 40px;
  background-color: white;
  font-size: 14px;

}

.tamanoImagen {
  height: 120px;
  width: 100px;

}

.textoServicios {
  display: flex;
  flex-basis: 250px;

}

.imagenUno {
  display: none;

}

.graficoMovil {
  border-radius: 12px;

  /* transform: scale(100%); /* vista pantalla */

}

.imagenMovil {
  transform: scale(60%);

}

.textoCostos {
  background-color: #54ac84;
  border-color: solid #54ac84;
  border-radius: 8px;
  padding: auto;

}

/* Secion Nosotros */

.atributo {
  display: grid;
  grid-template-areas:
    "INNOVADOR INTELIGENTE"
    "ACCESIBLE CONFIABLE"
    "SÓLIDO CANCHERO";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-items: center;
  align-items: center;
  margin-top: 15px;

}

.forma {
  display: grid;
  padding: 10px;
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  justify-content: center;
  align-content: center;

}

.artributosFrase {
  grid-area: frase;
  margin-top: 30px;

}

.artributos1 {
  grid-area: INNOVADOR;
  background-color: #da9bab;
  color: white;

}

.artributos2 {
  grid-area: INTELIGENTE;
  background-color: #ee9c3d;
  color: white;

}

.artributos3 {
  grid-area: ACCESIBLE;
  background-color: #cad2e9;
  color: white;

}

.artributos4 {
  grid-area: SÓLIDO;
  background-color: #94729a;
  color: white;

}

.artributos5 {
  grid-area: CONFIABLE;
  background-color: #1b283c;
  color: white;

}

.artributos6 {
  grid-area: CANCHERO;
  background-color: #459a8c;
  color: white;

}

.artributos {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%;

}

/* Seccion Como Empiezo? */

/* Preguntas Frecuentes? */

.pYr {
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.preguntas {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 10px solid white;
  border-radius: 40px;
  background-color: white;
  font-size: 14px;

}

.respuestas {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 10px solid #80b7a2;
  border-radius: 40px;
  background-color: #80b7a2;
  font-size: 14px;
  color: white;

}

/* Sección Contacto? y registro */

.formatoForm {
 margin-top: 8px;

}



/* Terminos y Privacidad*/

.formatoBasico2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 10px solid white;
  border-radius: 40px;
  background-color: white;
  font-size: 14px;

}

footer {
  padding: 50px;
  margin-top: 10px;
  margin-left: 0px;
  border-radius: 15px;
  margin-bottom: 0;
  background-color: rgb(73, 5, 112);
  width: 100%;

}

footer ul {
  list-style: none;
  overflow: hidden;

}

footer ul li {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}

footer ul li a {
  color: rgb(239, 236, 241);
  text-decoration: none;

}

footer ul li:hover {
  background: #cc80ff;
  color: white;

}


@media only screen and (min-width: 530px) {

  .navMenu{
    height: auto;
  }

  .descripServicios {
    display: block;

  }

  .parrafoPublicidad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 10px solid #54ac84;
    border-radius: 40px;
    background-color: #54ac84;
    color: white;
    font-size: 14px;

  }

  /* Secion Nosotros */

  /* Seccion Como Empiezo? */

  /* Preguntas Frecuentes? */

  /* Sección Contacto? y registro */

  /* Terminos y Privacidad*/

}

/* Fin de la adaptación a tablet */



@media only screen and (min-width: 1024px) {

  .bodyGeneral {
    padding: 100px 20px 0px;

  }

  .navLogo {
    padding-left: 10px;
  }

  .nombreEmpresa {
    padding-top: 0px;
    font-size: 65px;
    margin-left: 35px;

  }

  .subTitulo {
    margin-left: 40px;
  }

  .navMenu {
    display: flex;
    list-style: none;
    flex-direction: row;
    background-color: #2f2546;
    position: fixed;
    top: 66px;
    width: 100%;
    padding: 0px 0;
    overflow-y: auto;
    transition: right 0.3s;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
  }
  .vistaMovil {
    align-items: flex-start;
    width: fit-content;
  }


  .navRegistro{
    font-size: 20px;
  }
  
  .navSeccion{
    font-size: 20px;
  }

  .aa {
    margin-left: 30px;
  }

  .formatoInicio{
    display: flex;
    align-items: flex-start;


  }
  .parrafoPrincipal {
    width: 500px; 

  }

   .imagenUno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    border-radius: 20px;
    margin-top: 60px;

  }

  .grafico1{
    border: solid #2f2546;
    border-radius: 20px;
  }

  .parrafoSecundario {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

  }

  .imagen1024 {
    transform: scale();
  }

  .imagensecundario {

    transform: scale(50%);
  }

  .parrafoPublicidad {
    flex-direction: column;
    font-size: 24px;

  }

  .grafico1024 {
    width: 600px;
    height: 600px;
  }

  .secionesTitulo1024 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 10px solid #54ac84;
    border-radius: 40px;
    background-color: #54ac84;
    color: white;

  }

  .invertirRetirar {
    flex-direction: row;
    align-items: center;
    font-size: 16px;

  }

  .descripServicios {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

  }


  /* Seccion Como Empiezo? */

  .comoEmpiezo {
    display: grid;
    margin-top: 15px;
    padding-top: 10px;
    align-items: center;

  }

  .forma1Camino {
    display: grid;
    padding: 10px;
    background-color: #ec9f8c;
    border-radius: 20%;
    justify-content: left;
    align-content: center;
    color: white;

  }

  .forma2Camino {
    display: grid;
    padding: 10px;
    background-color: #1b152e;
    border-radius: 20%;
    justify-content: left;
    align-content: center;
    color: white;

  }

  .forma3Camino {
    display: grid;
    padding: 10px;
    background-color: #80b7a2;
    border-radius: 20%;
    justify-content: left;
    align-content: center;
    color: white;

  }

  .forma4Camino {
    display: grid;
    padding: 10px;
    background-color: #de8071;
    border-radius: 20%;
    justify-content: left;
    align-content: center;
    color: white;

  }


  /* Sesicon Registro */

  .seccionRegistro{
    margin-left: 170px;
  }

  .tituloRegistro{
    margin-top: 35px;
  }
}
