footer {
    padding: 50px;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 15px;
    margin-bottom: 0;

    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../images/counts-bg.png") center center no-repeat;
    background-size: cover;
    width: 100%;
  
    ul {
      list-style: none;
      overflow: hidden;
  
      li {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
  
        a {
          color: rgb(239, 236, 241);
          text-decoration: none;
  
        }
  
        &:hover {
          transition: 1s;
          border-radius: 5px;
          text-decoration: underline; 
          color: #fff;
          width: fit-content;



        }
      }
  
    }
  
  }